<div class="archive">
  <div>
    <strong>归档</strong>
  </div>
  <%for(var i = 0; i < tags.length;i++) {%>
    <span class="tag <%=tags[i].color%>"><a onclick="jump('<%=tags[i].name%>')"><%=tags[i].name%></a></span>
  <%}%>
</div>

<div class="archive-latest">
  <div>
    <strong>列表</strong>
  </div>
  <ul>
    <% for(var i = 0;i < program.length;i++){%>
      <li onclick="liJump('<%=program[i]._id%>')"><%=program[i].title%></li>
    <% } %>
  </ul>
</div>
<script>
  var liJump = function (_id) {
      console.log(_id);
      if (location.href.indexOf('tag') == -1) {
        location.replace(location.origin+"/program/one?id="+_id);
      } else {
        var tag = location.search.split("tag=")[1];
        location.replace(location.origin+"/program/one?id="+_id + "&tag=" + tag);
      }
  }

  var jump = function (tag) {
    if (location.href.indexOf('/program/one') > -1) {
      location.replace(location.href.split('&tag')[0] + "&tag="+tag);
    } else if (location.href.indexOf('?tag') > -1){
      location.replace(location.href.split('?tag')[0] + "?tag="+tag);
    } else {
      location.replace(location.href + "?tag="+tag);
    }
  }

</script>
