<% include ../layout/header %>
<% include ../nav/topbar %>
<div class="row">
    <div class="col-lg-12">
        <!--<form action="/crawler" id="crawler" method="get">-->
        <!--<div class="input-group">-->
        <!--<input name="searchId" type="text" class="form-control" required="required"-->
        <!--placeholder="查找图片，新闻">-->
        <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-default" id="search-consume" type="submit">Go!</button>-->
        <!--</span>-->
        <!--</div>-->
        <!--</form>-->
        <div class="row">
            <div class="col-sm-9">
                <div class="block">
                    <% for(var i = 0;i < docs.imgUrl.length;i++){ %>
                    <img src="<%= docs.imgUrl[i] %>" width="100%" class="newsImg">
                    <% } %>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block">

                    <h4>重要新闻</h4>
                    <% for (i = 0; i < docs.content.length; i++){ %>
                    <a href="<%= docs.content[i] %>"><%= docs.title[i] %> </a>
                    <br><br>
                    <% } %>

                    <h4>相关新闻</h4>
                    <% for ( i = 0; i < docs.content2.length; i++){ %>
                    <a href="<%= docs.content2[i] %>"><%= docs.content2[i] %> </a>
                    <br><br>
                    <% } %>

                    <% for ( i = 0; i < docs.content3.length; i++){ %>
                    <a href="<%= docs.content3[i] %>"><%= docs.content3[i] %> </a>
                    <br><br>
                    <% } %>
                </div>
            </div>
        </div>

    </div>
</div>

<% include ../layout/footer %>