<% include ../layout/header.ejs %>
<% include ../nav/topbar.ejs %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-xs-12">
        <h2><%= tittle %></h2>
    </div>
</div>

<div class="row">
    <br>
    <div class="col-lg-2 col-lg-offset-2">
        <h4><%= game1 %></h4>
        <hr>
        <p><%= introduce1 %></p>
    </div>
    <div class="col-lg-6 col-lg-offset-1">
        <a href="/game/fishman"><img src="/img/fishman.png"></a>
    </div>
</div>

<div class="row">
    <br>
    <br>
    <br>

    <div class="col-lg-2 col-lg-offset-2">
        <h4><%= game1 %></h4>
        <hr>
        <p><%= introduce1 %></p>
    </div>
    <div class="col-lg-6 col-lg-offset-1">
        <a href="/game/fishman"><img src="/img/fishman.png"></a>
    </div>
</div>

<% include ../layout/footer.ejs %>