<% include ../layout/header %>
<% include ../layout/topbar %>

<div class="container-left">
  <table class="table table-hover ">
      <thead>
      <tr class="title">
          <th>发起人</th>
          <th>问题</th>
          <th></th>
      </tr>
      </thead>
      <%
      var size = docs.length;
      for(var i = size - 1;i > -1;i--){
      %>
      <tr>
          <td>
              <%= docs[i].author %>
          </td>
          <td>
              <a href="/sns/Article?id=<%= docs[i]._id %>"><%= docs[i].title %></a>
          </td>
          <td>
          </td>
      </tr>
      <% } %>
  </table>
</div>

<div class="container-right">
  <table class="table table-hover ">
      <thead>
        <tr class="title">
            <th>发起人</th>
            <th>问题</th>
            <th></th>
        </tr>
      </thead>
      <%
      var size = docs.length;
      for(var i = size - 1;i > -1;i--){
      %>
        <tr>
            <td><%= docs[i].author %></td>
            <td><a href="/sns/Article?id=<%= docs[i]._id %>"><%= docs[i].title %></a></td>
            <td></td>
        </tr>
      <% } %>
  </table>
</div>

<% include ../layout/footer %>
