<% include ../layout/header %>
<% include ../layout/topbar %>
<div class="container-left">
  <% for(var i = 0;i < docs.imgUrl.length;i++){ %>
  <img src="<%= docs.imgUrl[i] %>" width="100%" class="newsImg">
  <% } %>
</div>

<div class="container-right">
  <h4>重要新闻</h4>
  <% for (i = 0; i < docs.content.length; i++){ %>
  <a href="<%= docs.content[i] %>"><%= docs.title[i] %> </a>
  <br><br>
  <% } %>

  <h4>相关新闻</h4>
  <% for ( i = 0; i < docs.content2.length; i++){ %>
  <a href="<%= docs.content2[i] %>"><%= docs.content2[i] %> </a>
  <br><br>
  <% } %>

  <% for ( i = 0; i < docs.content3.length; i++){ %>
  <a href="<%= docs.content3[i] %>"><%= docs.content3[i] %> </a>
  <br><br>
  <% } %>
</div>

<% include ../layout/footer %>
