<div class="archive">
  <div>
    <strong>分享</strong>
  </div>
  <div style="margin: 3px 5px">
    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
  </div>
</div>

<div class="archive">
  <div>
    <strong>归档</strong>
  </div>
  <%for(var i = 0; i < tags.length;i++) {%>
    <a onclick="jump('<%=tags[i].name%>')"><span class="tag <%=tags[i].color%>"><%=tags[i].name%></span></a>
  <%}%>
</div>

<div class="archive-latest">
  <div>
    <strong>列表</strong>
  </div>
  <ul>
    <% for(var i = 0;i < program.length;i++){%>
      <li onclick="liJump('<%=program[i]._id%>')"><%=program[i].title%></li>
    <% } %>
  </ul>
</div>
<script>
  var liJump = function (_id) {
      console.log(_id);
      if (location.href.indexOf('tag') == -1) {
        location.replace(location.origin+"/program/one?id="+_id);
      } else {
        var tag = location.search.split("tag=")[1];
        location.replace(location.origin+"/program/one?id="+_id + "&tag=" + tag);
      }
  }

  var jump = function (tag) {
    if (location.href.indexOf('/program/one') > -1) {
      location.replace(location.href.split('&tag')[0] + "&tag="+tag);
    } else if (location.href.indexOf('?tag') > -1){
      location.replace(location.href.split('?tag')[0] + "?tag="+tag);
    } else {
      location.replace(location.href + "?tag="+tag);
    }
  }

</script>
