<% include ../layout/header.ejs %>
<% include ../layout/topbar.ejs %>
<div class="container-left">

  <%
    for(var i = 0;i < program.length;i++ ){
      var date = new Date(Number.parseInt(program[i].date.updateAt));
  %>
  <a class="programDiv"  href="/program/one?id=<%= program[i]._id %>">
      <h5 class="title">
          <%= program[i].title %>
          <span class="program-des">
            <span style="margin-right:15px">标签:<%= program[i].category %></span>
            最后更新:<%= date.getFullYear()+'/'+(date.getMonth() + 1)+"/"+date.getDate() %>
          </span>
      </h5>
      <div class="content">
          <%- program[i].content %>
      </div>
  </a>
  <% } %>
</div>

<div class="container-right">
  <% include ./archive %>
</div>

<% include ../layout/footer %>
